In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from typing import Dict, List, Optional, Union
import os
import sys

project_root = os.path.abspath(os.path.join(os.getcwd(), '..'))
if project_root not in sys.path:
    sys.path.append(project_root)
    
from data_handle import(
    ForexDataClean,
    ForexDataLoad
)
from features import ForexFeauturesExtractor

import warnings
warnings.filterwarnings('ignore')


data = ForexDataLoad(file_path = '../data/xauaud.csv').data
ohlcv_data = ForexDataLoad(file_path = '../data/xauaud.csv').data

cleaner = ForexDataClean(data = data)
data = cleaner.fast_cleaner()

==================================================
FOREX DATA LOADER
==================================================
 Available Fuctions
1 load_csv
2 load_from_database
==================================================
Data loaded successfully!
Shape: (38217, 5)

==================================================
==================================================
FOREX DATA LOADER
==================================================
 Available Fuctions
1 load_csv
2 load_from_database
==================================================
Data loaded successfully!
Shape: (38217, 5)

==================================================
==================================================
FOREX DATA CLEANER
==================================================
 Available Fuctions
1 remove_duplicates
2 handle_missing_values
3 validate_ohlc_integrity
4 handle_outliers
5 fast_cleaner
==================================================
==================================================
Keep = first and subset = None
Removed 0 duplicate entries
==================================================
OHLC DATA INTEGRITY VALIDATION
==================================================
No OHLC integrity violations found
All OHLC values are consistent
Found 1 missing values
 dropped: 1 missing values .
==================================================
OHLC DATA INTEGRITY VALIDATION
==================================================
No OHLC integrity violations found
All OHLC values are consistent

In [2]:
features = ForexFeauturesExtractor(
    data = data
)

In [3]:
data

                        open     high      low    close  volume
datetime
2017-04-24 02:00:00  1686.03  1686.15  1681.30  1682.15    4146
2017-04-24 03:00:00  1682.11  1691.44  1681.90  1689.13    4329
2017-04-24 04:00:00  1689.09  1689.24  1685.89  1687.68    2609
2017-04-24 05:00:00  1687.65  1688.84  1686.15  1688.36    1592
2017-04-24 06:00:00  1688.34  1689.59  1686.91  1687.06    1275
...                      ...      ...      ...      ...     ...
2025-09-05 16:00:00  5447.51  5456.26  5433.22  5455.01       0
2025-09-05 17:00:00  5454.84  5474.80  5451.73  5474.64       0
2025-09-05 18:00:00  5474.54  5477.82  5459.37  5468.49       0
2025-09-05 19:00:00  5468.33  5483.78  5466.57  5476.84       0
2025-09-05 20:00:00  5476.98  5479.45  5474.51  5477.23       0

[38216 rows x 5 columns]

In [4]:
data = features.extract_all_features()

Index(['close', 'rsi_14', 'rsi_14_slope', 'rsi_21', 'rsi_21_slope', 'rsi_28',
       'rsi_28_slope', 'stoch_slowk_3', 'stoch_slowd_3', 'stoch_slowk_3_slope',
       'stoch_slowd_3_slope', 'williams_r_14', 'williams_r_14_slope',
       'williams_r_21', 'williams_r_21_slope', 'williams_r_28',
       'williams_r_28_slope', 'cci_14', 'cci_14_slope', 'cci_21',
       'cci_21_slope', 'cci_28', 'cci_28_slope', 'momentum_10',
       'momentum_10_slope', 'momentum_14', 'momentum_14_slope', 'momentum_20',
       'momentum_20_slope'],
      dtype='object')